*
{
    margin-top: 0px;
    padding: 0px;
}

.container
{
    height: 56px;
    display: flex;

    /* position: sticky; */
    top: 0;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-item
{
    align-content: space-between;
    
}

.item
{
    vertical-align: middle;
    position: relative;
    padding-left: 23px;
}

.container-item button{
    padding-left: 0px;
    width: 57px;
    height: 40px;

    position: relative;
    right: 5px
}

.container-item input{
    width: 404px;
    height: 39px;
    border: solid 1px #CCCCCC;
}

/* Estilização da main */

main{
    display: flex;
    flex-direction: row;

}
article{

    width: 218px;
    height:968px ;

    max-width: 218px;
    max-height: 968px;
}
ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: start;
    align-items: start;
    list-style: none;

    
    gap: 22px;
    margin-top: 24px;
    margin-left: 22px;


    
}

.item-list img, a{
    text-decoration: none;
    list-style: none;

    font-family: sans-serif, "Roboto";
    font-weight: 400;
    color: #000000;

    vertical-align: middle;
    gap: 22px;

}

section{
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(3, 262);
}